name: run ./job_scrape/freelance_nl.py

on: workflow_dispatch

# on:
#   schedule:
#     # - cron: '0 23 * * *'
#     - cron: '0 09,15 * * *'

env:
  LANG: "nl_NL.UTF-8"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./job_scrape/requirements.txt
      - name: Ensure browsers are installed
        run: python -m playwright install --with-deps
      - name: execute py script # run the freelance_nl.py to scrape the data
        env:
          FREELANCE_NL_USERNAME: ${{ secrets.FREELANCE_NL_USERNAME }}
          FREELANCE_NL_PASSWORD: ${{ secrets.FREELANCE_NL_PASSWORD }}
          SPORTS_SCRAPER_POSTGRES_URL: ${{ secrets.SPORTS_SCRAPER_POSTGRES_URL }}
        run: |
          cd ./job_scrape
          sudo locale-gen nl_NL.UTF-8
          export LANG=nl_NL.UTF-8
          sudo update-locale LANG=nl_NL.UTF-8
          python freelance_nl.py
      - uses: gautamkrishnar/keepalive-workflow@v1 # workflow to stop the auto disable after 60 days
